

p:hover,li:hover,h1:hover,h2:hover {
    color: #8c8c09;
}

html {
    cursor: url(../img/varita.png), auto;
    animation : animacion_varita 1s infinite;
}
section>*,header>*,footer>*,figure>* {
    visibility: hidden;
    transition: visibility 3s;
}
section:hover>* ,header:hover>*,footer:hover>*,figure:hover>*{
    visibility: visible;
}


@keyframes animacion_varita {
    0% {
        cursor: url(../img/varita.png), auto;
    }
    50% {
        cursor: url(../img/varita1.png), auto;
    }
    100% {
        cursor: url(../img/varita2.png), auto;
    }
}